/* ==========================================================================
   UIKIT for level web campus
   ========================================================================== */

/* ==========================================================================
   CSS Reset
   ========================================================================== */
* {
    margin: 0;
    padding: 0;
    font-family: 'Fira Sans',sans-serif;
    box-sizing: border-box;
    transition: 0.3s all;
}

/* ==========================================================================
   Global Styles
   ========================================================================== */

$primary-color: #79B5FB;
$disabled-color: #9B9B9B;
$surface-grey: #fafafa;
$surface-white: #fff;


.container-sidebyside {
	/* Layout */
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	
	/* Dimensions */
	height: 100vh;
	max-height: 100vh;
	width: 100vw;
	max-width: 100vw;
}

.carousal-section {
	background-image: url(../Images/linkedin-sales-navigator-406826-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 24px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: flex-end;
}

.form-section {
	/* Layout */
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 80px auto 32px;
	
	/* surface */
	background-color: $surface-grey;
}

.form-section__header { 
    background-color: white;
    text-align: center;
    font-size: 20px;
    line-height: 80px;
}

.form-container { 
	/* surface */
	background-color: $surface-white;
    border-radius: 4px;    
    padding: 40px;    
    width: 400px; 
}

.center-align { 
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ==========================================================================
   Input Field Styles
   ========================================================================== */

.input { 
    margin-top: 32px; 
    position: relative;
}

.input__label {
	display: inline-block;
    margin-bottom: 8px;
}

.input__box {
	height: 56px;
    width: 100%;
    border-radius: 4px; 
    display: block;
    border: 0.5px solid #979797;
    padding: 12px;
    font-size: 18px;
    line-height: 1.5;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.5); 
}

.button {
    width: 100%;
    background-color: $primary-color;
    color: white;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 56px;
    border-radius: 4px;
    height: 56px;
    border: none; 
}

.button.disabled { 
    background-color: lightgray;
//    pointer-events: none;
}

.button.disabled:hover { cursor: not-allowed; }

.button:hover { 
    cursor: pointer;
}

.text-button {
    display: none;
    position: absolute;
    top: 31px;
    right: 2px;
    background-color: white;
    padding: 14px;
    cursor: pointer;
}

.input:hover .text-button { 
    display: block;
}

.error-message { 
    display: inline-block;
    margin-top: 8px;
    color: red;
    width: 100%;
    text-align: right;
    display: none;
}

/* ==========================================================================
   Need to change Styles
   ========================================================================== */

/* Display Hidden Section */
.logo {
  display: none; }


/*    Footer Section */
footer {
  padding-left: 24px; }


footer ul li {
  display: inline-block;
  color: #9B9B9B;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 200;
  margin-right: 24px; }

footer ul li a {
  color: #9B9B9B; }

.inline-button {
  display: inline-block;
  font-size: 14px;
  font-weight: 200;
  width: 77%;
  text-align: right; }

/*    Carousal section */
h2 {
  padding: 4px 32px;
  font-size: 50px;
  line-height: 1.5;
  background-color: #9B9B9B;
  color: white;
  margin-bottom: 16px; }

p {
  width: 45ch;
  font-size: 50px;
  line-height: 1.5;
  background-color: #9B9B9B;
  color: white;
  font-size: 24px;
  padding: 20px; }

.indicator-container {
  width: 100%; }

.indicator {
  margin-top: 16px;
  display: inline-block;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  border: 1px solid black;
  margin-right: 16px; }

.filled {
  background-color: black; }

